<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Alertas</h1>
  <ion-button expand="block" color="secondary" (click)='alert()'>Alert</ion-button>
  <ion-button expand="block" color="secondary" (click)='multiple()'>Alertas Multiplos</ion-button>
  <ion-button expand="block" color="secondary" (click)='confirme()'>Confirme</ion-button>
  <ion-button expand="block" color="secondary" (click)='Prompt()'>Prompt</ion-button>
</ion-content>
