<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group value="biff">
    <ion-list-header>
      <ion-label>Teste</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Cores</ion-label>
      <ion-radio value="otimal" slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Cores</ion-label>
      <ion-radio value="marty" slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Cores</ion-label>
      <ion-radio value="terence" slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Cores</ion-label>
      <ion-radio color="warning" value="dangling" slot="end"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>