<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Badges</h1>
  <ion-badge>99</ion-badge>
  <h2>Diversos</h2>
  <ion-badge color="primary">11</ion-badge>
  <ion-badge color="secondary">22</ion-badge>
  <ion-badge color="tertiary">33</ion-badge>
  <ion-badge color="success">44</ion-badge>
  <ion-badge color="warning">55</ion-badge>
  <ion-badge color="danger">66</ion-badge>
  <ion-badge color="medium">88</ion-badge>
  <ion-badge color="dark">99</ion-badge>
  <h2>Items</h2>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge color="medium" slot="end">77</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>My Item</ion-label>
    <ion-badge color="success" slot="end">{{notificacoes}}</ion-badge>
  </ion-item>

</ion-content>