<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content
[scrollEvents]=true
(ionScrollStart)='logScrollStart()'
(ionScroll) = "logScrolling($event)"
(ionScrollEnd)='logScrollEnd()'
>

  <div class="container">

    <h1>Titulo</h1>


    <ion-list>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
      <ion-item>
        Ionic 5
      </ion-item>
    </ion-list>
  </div>
</ion-content>