<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="https://bit.ly/3ukP9n5" alt="0005">
    </ion-slide>
    <ion-slide>
      <img src="https://bit.ly/3czdJKx" alt="4293">
    </ion-slide>
    <ion-slide>
      <img src="https://bit.ly/3dj0InM" alt="1408">
    </ion-slide>
  </ion-slides>

</ion-content>